dialog::backdrop, dialog + .backdrop{ /* native */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
dialog + .backdrop{ /* polyfill */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* dialog close button */

dialog nav {
    border: 1px solid #ccc;
    background-color: #ccc;
    border-bottom-width: 2px;
    height: 2em;
    min-height: 30px;
    display: flex;
}

dialog nav .tab {
    border-left: 1px solid #ccc;
    color: lightgrey;
    background-color: dimgray;
    /*flex-grow: 1;*/
    flex-basis: 100%;
    padding-left: 0.5em;
    display:flex;
    align-items: center;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
dialog nav .tab.active {
    background-color: inherit;
    color: inherit;
    min-width: 28px;
    margin-right: 30px;
}
dialog nav .tab:first-child {
    border: none;
}


dialog nav .tab .xbutton{
    display: none;
    width: 24px;
    height: 24px;
    /*background-color:red;*/
    position: absolute;
    /*top:-24px;
    right:5px;*/
    top: 3px;
    right: 3px;
    border-radius: 6px;
    /*box-shadow:2px 2px 4px 0 white;*/
}
dialog nav .tab.active .xbutton {
    display: block;
}
dialog nav .tab .xbutton:hover {
    background-color:red;
}

dialog nav .tab .xbutton:before, dialog nav .tab .xbutton:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    top: 10px;
    /*box-shadow:0 0 2px 0 #ccc;*/
}

dialog nav .tab .xbutton:before {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    left:2px;
}
dialog nav .tab .xbutton:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 2px;
}

dialog > .tabbed > .tabwindow {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

dialog > .tabbed > .tabwindow > iframe {
    flex-flow: column;
    flex: 1 1 auto;
    border: 0;
    width: 100%;
}

dialog > .tabbed {
    height: 100%;
    padding: 0;
    border: 0;
    display: flex;
    flex-flow: column;
}